<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/imgs/ps-logo.png" width="140px" height="32px" alt="">
    </div>

    <div class="menu-bar__item">
        <ul>
            <li><a href="#">Jogos</a></li>
            <li><a href="#">Hardaware</a></li>
            <li><a href="#">Serviço</a></li>
            <li><a href="#">Notícias</a></li>
            <li><a href="#">loja</a></li>
            <li><a href="#">Suporte</a></li>
        </ul>
    </div>
</div>